<div class="wrapper-main">
  <div class="row">
    <div class="col-md-6" id="student-info">
      <h1><%= @student.name %></h1>
      <%= link_to "Edit", edit_student_path(@student), class: 'btn btn-success btn-xs' %>
      <%= link_to "Delete Student", @student, method: :delete, class: 'btn btn-danger btn-xs', data: {confirm: 'Are you sure that you want to delete this student?'} %>
      <h4>Current Grade:
        <%= @student.grade %></h4>
      <p><%= @student.biography %></p>
    </div>
    <div class="col-md-5 col-md-offset-1">
      <h3>Tutoring Sessions
        <%= link_to "New Session", new_tutoring_session_path(:student_id => @student), class: 'btn btn-primary btn-xs' %></h3>
      <ul class="list-group">
        <% @sessions.each do |session| %>
        <li class="list-group-item">
          <span class="badge"><%= session.notes.count %></span>
          <%= link_to session.session_date, session %>
          <br>
          <%= link_to "Add New Note", new_note_path( :tutoring_session_id => session.id) %>
          |
          <%= link_to "Delete Session", '#' %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
  <%= params.inspect %>
</div>
