<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-default">
      <div class="container">
        <%= link_to "Tut-Notes", root_path, id: "logo" %>
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <!-- <%= image_tag('VP_Logo.png') %> -->
          </a>
        </div>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Contact",   contact_path %></li>
            <% if current_tutor %>
            <li><%= link_to "Students", students_path %></li>
            <% end %>
            <div class="pull-right">
              <% if current_tutor %>
                 Hello <%= link_to (current_tutor.name || current_tutor.email), edit_tutor_registration_path %>! <%= link_to "Sign out", destroy_tutor_session_path, method: :delete %>
              <% else %>
                <%= link_to "Sign In", new_tutor_session_path %> or
                <%= link_to "Sign Up", new_tutor_registration_path %>
              <% end %>
             </div>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container-fluid" id="main-content">
      <% if flash[:notice] %>
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:notice] %>
        </div>
      <% elsif flash[:error] %>
        <div class="alert alert-danger">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:error] %>
        </div>
      <% elsif flash[:alert] %>
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <%= flash[:alert] %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
